* {
    margin: 0;
    box-sizing: border-box;
}

/*-----------------------Splash-----------------------*/
nav {
    background-color: dimgray;
}

.splash {
    background-image: url(billeder/tomtbillede.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 60vw;
    width: 100vw;
}

.sectionwrapper {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}

.overskift {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
}

/*--------------------- BurgerMenu-------------------- */
.container {
    display: none;
}

.burgermenu {

    overflow: hidden;
    background-color: #676767;
    position: relative;
    width: 99vw;
    top: 0vw;
    font-family: ;
    opacity: 0.8;
    z-index: 10;
}

.burgermenu #myLinks {
    display: none;
}

.burgermenu a {
    cursor: pointer;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
}

.burgermenu a.icon {
    background: #0a0a0a;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.burgermenu a:hover {
    background-color: #ff0000;
    color: white;
}

.burgermenu .active {
    background-color: #333333;
    color: white;

}

.burgermenu .active:hover {
    background-color: #797878;
    color: white;
}

.burgermenu a.icon:hover {
    background-color: #ff0000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.clear {
    clear: both;
}

.hidden {
    transform: scale(0);
}

/*----------------------- Forside-----------------------*/

.grid {
    display: grid;
    grid-template-columns: 50%;
}

.grid > div {
    background-color: lightgray;
    padding: 1em;
}

.grid > div:nth-child(odd) {
    background-color: darkgray;
}

#Om_Os {
    margin: 10px;
    padding: 10px;
    width: 96vw;
    background-color: #e2e2e2;
}

/*----------------------- Grid til forside-----------------------**/

.planlæg_besøg {
    grid-area: besøg;
}

.Nyheder {
    grid-area: nyheder;
}

.Illustrator_map {
    grid-area: map;
}

.grid {
    display: grid;
    grid-template-areas:
        'besøg nyheder'
        'map nyheder';
    margin: 10px;
    grid-template-columns: repeat(1fr 1fr);
    grid-gap: 1em;
}

/*-----------------------Stevns Klint-----------------------*/

#introduktion .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.intro_billede {
    background-image: url(billeder/tomtbillede.png);
    background-repeat: no-repeat;
    background-size: 90vw;
    height: 55vw;
    width: 90vw;
}

#priser {
    background-color: #7e7e7e;
}

#undervisning .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#undervisning {
    background-color: #dbd6d6;
}

#guidede_ture {
    background-color: #b2acac;
}

/*-----------------------Fakta-----------------------*/

#column1 {
    background-color: darkgrey;
}

#column2 {
    background-color: #d1d1d1;
}

#column3 {
    background-color: #797878;
}

/*-----------------------Footer-----------------------*/
footer {
    background-color: dimgrey;
    display: grid;
    grid-template-columns: 1fr;
}

footer h3 {
    padding-top: 3vw;
}

footer h4 {
    padding-top: 1vw;
}

footer p {
    padding-top: 2vw;
}

footer div {
    padding-left: 5vw;
    padding-right: 5vw;
}

.facebook {
    background-image: url(billeder/tomtbillede.png);
    background-repeat: no-repeat;
    background-size: 10vw;
    height: 6vw;
    width: 10vw;
    margin-left: 80vw;
}

.instagram {
    background-image: url(billeder/tomtbillede.png);
    background-repeat: no-repeat;
    background-size: 10vw;
    height: 6vw;
    width: 10vw;
    margin-left: 80vw;

}

/*-----------------------media query-----------------------*/
@media screen and (min-width: 650px) {

    #introduktion .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    .intro_billede {
        background-size: 45vw;
        height: 30vw;
        width: 45vw;
        margin-left: 3vw;
    }

    /*------------Stevns Klint og Geomuseum Faxe------------*/

    #undervisning .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    #undervisning div:last-child {
        margin-left: 2vw;
    }

    /*-----------------------Fakta-----------------------*/


    #column1 .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #column2 .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #column3 .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*-----------------------Om os-----------------------*/

    #om_os .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*-----------------------Footer-----------------------*/

    footer {
        grid-template-columns: 2fr 2fr 1fr;
    }
}

/*----------------------Burger menu media query--------------------*/


@media only screen and (max-width: 425px) {
    .container {
        display: block;
    }
}
