* {
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 100;
}


body,
html {
    background-color: white;
    line-height: 150%;
    height: 100%;
    scroll-behavior: smooth;
    /*gør at vores site ikke hopper op og ned ved klik på links, men stedet scroller smooth*/
}

@font-face {
    font-family: 'limestonebold';
    src: url('fonte/limestone_bold-webfont.woff2') format('woff2'),
        url('fonte/limestone_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'limestoneheavy';
    src: url('fonte/limestone_heavy-webfont.woff2') format('woff2'),
        url('fonte/limestone_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'limestonelight';
    src: url('fonte/limestone_light-webfont.woff2') format('woff2'),
        url('fonte/limestone_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'limestoneregular';
    src: url('fonte/limestone_regular-webfont.woff2') format('woff2'),
        url('fonte/limestone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'limestonelight';

}

h2 {
    font-family: 'limestonelight';
    color: white;
}

h3 {
    font-family: 'limestonelight';
}







/*-----------------------GO TO TOP-----------------------*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 1vw;
    border: none;
    right: 1vw;
    z-index: 2;
    background-image: url(billeder/SVG/button_one.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px;
    cursor: pointer;
    padding: 15px;
    border-radius: 0%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.7;

}

#myBtn:hover {
    background-image: url(billeder/SVG/button_one.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 52px;
    transform: scale(1.1);
    opacity: 0.7;

    width: 50px;
    height: 50px;
}

/*-----------------------Splash-----------------------*/

.hovedmenu {
    display: none;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 1vw;
    padding-left: 13vw;
}

.hovedmenu a {
    color: #8C8279;
    text-decoration: none;
    font-family: 'limestonelight';
    font-size: 1.6vw;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid rgba(0, 0, 0, 0.15);

}

.hovedmenu .valgt {
    opacity: 0.8;
    color: #FF6600;
}

.hovedmenu a:hover {
    opacity: 0.8;
    color: #FF6600;
}

.splash {
    background-image: url(billeder/stevnsklint.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
    height: 54.8vw;
    width: 100vw;

}

.whiteborder {
    border: 2px solid white;
    width: 90vw;
    height: 45vw;
    margin: 5vw;
    position: absolute;
}

.pil_til_forside {
    animation-name: pil_animation;
    /*kalder på animation-keyframe'ens navn*/
    animation-duration: 0.5s;
    /* hvor længe den skal vare*/
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    /* hvor mange gange? */
    animation-direction: alternate-reverse;
    background-image: url(billeder/SVG/pil_til_forside_tyk.svg);
    background-repeat: no-repeat;
    background-size: 3vw;
    position: absolute;
    /* oven på parent elementet*/
    height: 3vw;
    width: 3vw;
    top: 80%;
    left: 48%;

}

@keyframes pil_animation {

    /* animationens keyframes  - fra og til */
    from {
        top: 45vw;
    }

    to {
        top: 45.5vw;
    }
}

.lillesplash {
    background-image: url(billeder/SVG/lillesplash.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
    height: 25vw;
    width: 100vw;
}

.lillelogo {
    background-image: url(billeder/logo3.svg);
    background-repeat: no-repeat;
    background-size: 20vw;
    position: absolute;
    top: 5vw;
    left: 3vw;
    height: 6vw;
    width: 20vw;
}

.fa-search:before {
    position: absolute;
    top: 56.2vw;
    left: 91vw;
    font-size: 15px;
    color: #8C8279;
}

.search_index {
    font-family: 'limestonelight';
    font-size: 1.6vw;
    position: absolute;
    left: 83.5vw;
    width: 10vw;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    padding-left: 1vw;
}

#glas_lille {
    position: absolute;
    top: -30vw;
    left: 0vw;
    font-size: 15px;
    color: #8C8279;
}

.search_home {
    font-family: 'limestonelight';
    font-size: 1.6vw;
    position: absolute;
    left: 83.5vw;
    width: 10vw;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    padding-left: 1vw;
}

.search_omos {
    font-family: 'limestonelight';
    font-size: 1.6vw;
    position: absolute;
    left: 83.5vw;
    width: 10vw;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    padding-left: 1vw;
}

.search_fakta {
    font-family: 'limestonelight';
    font-size: 1.6vw;
    position: absolute;
    left: 83.5vw;
    width: 10vw;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    padding-left: 1vw;
}

.search_koldkrig {
    font-family: 'limestonelight';
    font-size: 1.6vw;
    position: absolute;
    left: 83.5vw;
    width: 10vw;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    padding-left: 1vw;
}

.search_geo {
    font-family: 'limestonelight';
    font-size: 1.6vw;
    position: absolute;
    left: 83.5vw;
    width: 10vw;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    padding-left: 1vw;
}

.search_stevns {
    font-family: 'limestonelight';
    font-size: 1.6vw;
    position: absolute;
    left: 83.5vw;
    width: 10vw;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    border-bottom: none;
    padding-left: 1vw;
}

.search input[type=text] {

    position: absolute;
    top: 40vw;
    left: 88vw;
    width: 10vw;
    height: 5vw;
    float: right;
    padding: 5px;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.sprog {
    background-image: url(billeder/da.svg);
    background-size: contain;
    width: 10vw;
    height: 9vw;
    background-repeat: no-repeat;
    position: absolute;
    left: 83vw;
    top: 7vw;
    color: white;
    font-family: 'limestonelight'bold;
    font-size: 14px;
}


.lillesprog {
    background-image: url(billeder/da.svg);
    background-size: contain;
    width: 10vw;
    height: 9vw;
    background-repeat: no-repeat;
    position: absolute;
    left: 85vw;
    top: 2vw;
    color: white;
    font-family: 'limestonelight'bold;
    font-size: 14px;
}


.material-icons {
    position: absolute;
    left: 85vw;
    top: 6.5vw;
    color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.search input[type=text]:hover {

    color: #FF6600;
}

.logo {
    background-image: url(billeder/logo3.svg);
    background-repeat: no-repeat;
    background-size: 20vw;
    position: absolute;
    top: 8vw;
    left: 8vw;
    height: 6vw;
    width: 20vw;
}

.sectionwrapper {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}

.overskrift {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 6vw;
}

#line {
    width: 5vw;
    color: #BFB595;
}

/*------------- Generel ----------- */

/*------------- BurgerMenu----------- */


.burgermenu {
    overflow: hidden;
    /* skal som udgangspunkt have overflow:hidden */
    background-color: #8C8279;
    position: relative;
    width: 100vw;
    /* skal fylde hele vinduets bredde */
    top: 0vw;
    opacity: 0.8;
    z-index: 10;
    /* skal ligge øverst */
}

.burgermenu #myLinks {
    display: none;
    /* linksene skal som udgangspunkt ikke vises */
}

.burgermenu a {
    cursor: pointer;
    /* pointer på link, som gør det tydeligt klikbart */
    color: white;
    padding: 14px 16px;
    /* pladsen rundt om linksene*/
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
}

.burgermenu a.icon {
    background: #50463e;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.burgermenu a:hover {
    /*    background-color: white;*/
    color: #ff8838;
}

.burgermenu .active {
    background-color: white;
    color: #8C8279;
    font-size: 16px;

}

/*
.burgermenu .active:hover {
    background-color: #7799A6;
    color: white;
}
*/

.burgermenu a.icon:hover {
    background-color: #50463e;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.clear {
    clear: both;
}


/*--------------------------------------------- FORSIDE ---------------------------------------*/
#forside_om_os {
    /*    color: #BFB595;*/
}


/*----------- Grid til forside-------------**/


#forside_om_os {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #93AEBF;
}

#forside_om_os h1 {
    color: white;
    font-family: 'limestoneregular';
    text-align: center;
}

#forside_om_os p {
    color: white;
    font-family: 'limestonelight';
}

#grid {
    display: grid;
    /*    background-color: #6995b1;*/
    background-color: #93AEBF;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

/*
#grid > div:nth-child(odd) {
    background-color: darkgray;
}
*/

.planlaeg_besoeg {
    grid-area: besøg;
}

/*-------nyheds ikon---------*/
.nyheds_ikon {

    background-image: url(billeder/news_icon2.svg);
    background-size: auto;
    width: 73px;
    height: 46px;
    background-repeat: no-repeat;
    position: absolute;
    top: 3vw;
    left: 65vw;
}

.nyheds_ikon_home {

    background-image: url(billeder/news_icon2.svg);
    background-size: auto;
    width: 71px;
    height: 46px;
    background-repeat: no-repeat;
    position: absolute;
    top: 3vw;
    left: 70vw;
}


.nyheder h1 {
    font-family: 'limestoneregular';
    padding: 3vw;
    padding-left: 2vw;
}

.nyheder h3 {
    margin-bottom: 16px;
    color: white;
    padding: 2vw;
}

#kasse_nyheder {
    border: 2px solid white;
    margin-right: 6vw;
    margin-left: 6vw;
    position: relative;
}

#kasse_nyheder h1 {
    font-size: 24px;
    color: white;
}

.nyheder h2 {
    font-family: 'limestonelight';
    font-size: 15px;
    color: white;
    padding-right: 2vw;
    padding-left: 2vw;

}

.nyheder a {
    text-decoration: none;
}

.nyheder h2:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.illustrator_map h2 {
    font-family: 'limestonelight';
    color: white;
    padding: 5vw;
    padding-right: 9vw;
}

/*

.nyheder {
    grid-area: nyheder;

}

.illustrator_map {
    grid-area: map;
}
*/

.mapbillede {
    background-image: url(billeder/SVG/illustratormap_done.svg);
    background-repeat: no-repeat;
    background-size: 90vw;
    height: 100vw;
    width: 95vw;
    margin-top: 10vw;
    margin-left: 3vw;
}

#grid {
    display: grid;
    /*
    grid-template-areas: 'map'
        'nyheder';
    grid-template-columns: repeat(1fr);

*/
    grid-column: 1fr;
}


h1 {
    font-family: 'limestonelight';
    color: white;
}


/*---------------------------------------------- ATTRAKTIONER -------------------------------*/


/*Koldkrigsmuseum - baggrundsfarver*/

#introduktion {
    /*    background-color: #7799A6;*/
    background-color: #A67E5B;
}

#introduktion h3 {
    color: white;
}

#introduktion p {
    color: white;
}

#guidede_ture {
    background-color: #BFB595;
    /*    background-color: #c6a283;*/

}

#guidede_ture {
    background-color: #BFB595;
    /*    background-color: #c6a283;*/

}

#guidede_ture img {
    width: 80vw;
    padding-top: 5vw;
}

#rundvisning {
    background-color: #8bacb8;


}

#prismet {
    /*    background-color: #8bacb8;*/
    background-color: #c6a283;

}

#vandretur {
    /*    background-color: #8bacb8;*/
    background-color: #8C8279;

}

#undervisningsforloeb {
    /*    background-color: #8eb7c7;*/
    background-color: #7799A6;
    ´
}

.bog_ikon {
    background-image: url(billeder/undervisning_ikon.svg);
    background-size: contain;
    width: 73px;
    height: 46px;
    background-repeat: no-repeat;
    position: absolute;
    top: 2vw;
    left: 80%;
}

#undervisningsforloeb_stevns {
    background-color: #8bacb8;
}

/*Stevns Klint introduktion*/

#introduktionStevns {
    background-color: #598193;
}

#introduktionStevns p {
    color: white;
}

#introduktionStevns h3 {
    color: white;
}

#introduktionStevns .sectionwrapper {
    /* mobil */
    display: grid;
    grid-template-columns: 1fr;
    /* skal ligge med kun ét element på langs. de andre elementer ligger sig under hinanden */
    padding-top: 5vw;
}


#introduktionStevns h1 {
    padding-bottom: 5vw;
}

#introduktionStevns .indhold {
    padding-top: 5vw;
}

#introduktionStevns img {
    width: 90vw;
    margin-top: 5vw;
}


/*Geomuseum Faxe introduktion*/

#introduktionGeo {
    background-color: #8C8279;
}

#introduktionGeo p {
    color: white;
}

#introduktionGeo h3 {
    color: white;
}

#introduktionGeo .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
}


#introduktionGeo h1 {
    padding-bottom: 5vw;
}

#introduktionGeo .indhold {
    padding-top: 5vw;
}

#introduktionGeo img {
    width: 90vw;
    margin-top: 5vw;
}

/*ander*/
#introduktion .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
}

#introduktion img {
    width: 90vw;
    margin-top: 5vw;
}

#introduktion h1 {
    padding-bottom: 5vw;
}

#introduktion .indhold {
    padding-top: 5vw;
}


#priser {
    background-color: #7e7e7e;
}


#undervisning .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
}



.undervisning a {
    text-decoration: none;
    color: #FF6600;
}

.undervisning {
    margin-top: 10vw;
    margin-bottom: 5vw;
}

.undervisning .sectionwrapper {
    padding-top: 5vw;
}

#undervisningsforloeb .undervisning {
    border: 2px solid white;
    padding: 3vw;
    position: relative;
}

#undervisningsforloeb_stevns .undervisning {
    border: 2px solid white;
    padding: 3vw;
}


/*---------GUIDET TURER-------*/

/*Stevns Klint guidet turer*/
#guidede_ture_stevns {
    background-color: #c6a283;
}

#guidede_ture_stevns .indhold p {
    color: white;
}

#guidede_ture_stevns .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#guidede_ture_stevns .overskrift {
    margin-bottom: 20px;
    /*    grid-area: overskrift;*/
}

#guidede_ture_stevns .pris {
    margin-top: 20px;
}

/*FOSSILJAGT*/
#guidede_ture .indhold p {
    color: white;
}

#guidede_ture .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;

}

#guidede_ture .overskrift {
    margin-bottom: 20px;
    /*    grid-area: overskrift;*/
}

#guidede_ture .pris {
    margin-top: 20px;
}

/*RUNDVISNING*/
#rundvisning .indhold p {
    color: white;
}


#rundvisning .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#rundvisning .overskrift {
    margin-bottom: 20px;
    /*    grid-area: overskrift;*/
}

#rundvisning .pris {
    margin-top: 20px;
}


/*PRISMET*/
#prismet .indhold p {
    color: white;
}


#prismet .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#prismet .overskrift {
    margin-bottom: 20px;
    /*    grid-area: overskrift;*/
}

#prismet .pris {
    margin-top: 20px;
}

/*PRISMET*/
#vandretur .indhold p {
    color: white;
}


#vandretur .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#vandretur .overskrift {
    margin-bottom: 20px;
    /*    grid-area: overskrift;*/
}

#vandretur .pris {
    margin-top: 20px;
}

/*GENERALT*/
.guidepriser p {
    color: white;

}

#undervisning h3 {
    color: white;
}

#undervisning p {
    color: white;
}

#undervisning h2 {
    margin-bottom: 5vw;
}

.guidepriser h3 {
    color: white;
    border: 2px solid white;
    padding: 2vw;
}

.guidepriser {
    margin-top: 10vw;
    /*
    border: 2px solid white;
    padding: 2vw;
*/
}

.praktiskInfo p {
    color: white;
    margin-left: 10px;
}


/*---UNDERVSINING----*/

/* Stevns Klin*/
#undervisningsforloeb_stevns .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
}

#undervisningsforloeb_stevns h2 {
    color: white;

}

.undervisningstekst_stevns {
    color: white;
}

#undervisningsforloeb_stevns a {
    color: white;
}


#undervisningsforloeb .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
    background-color: #7799A6;
}

#undervisningsforloeb h2 {
    color: white;

}

.undervisningstekst {
    color: white;
}

#undervisningsforloeb a {
    color: white;
}

.undervisning img {
    margin-top: 2vw;
    width: 100%;

}

.undervisning h2 {
    margin-bottom: 2vw;
}

/*---UNDERVSINING FORLØB----*/

.undervisning2 h3:hover {
    text-decoration: underline;
}



/*------------------------------------------------ FAKTA ------------------------------------*/

/*
#column1 {
    background-color: darkgrey;
}

#column2 {
    background-color: #d1d1d1;
}

#column3 {
    background-color: #797878;
}*/

.faktaoverskrift {
    padding-left: 5vw;
    padding-top: 5vw;

    background-color: #647284;
}

.faktaoverskrift h2 {
    color: white;
    padding-bottom: 2vw;
}

#kalkenskulturhistorie {
    background-color: #647284;
}

#kalkenskulturhistorie .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

#kalkenskulturhistorie img {
    margin-top: 5vw;
    width: 80vw;
}

#kalkenskulturhistorie p {
    font-family: 'limestonelight';

}

#kalkenskulturhistorie .indhold {
    margin-top: 5vw;

}

#kalkenskulturhistorie .overskrift {
    padding-top: 0;
}

#kalkensgeologi .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

#kalkensgeologi img {
    margin-left: 5vw;
    width: 80vw;
    margin-left: 0;
}

#kalkensgeologi p {
    font-family: 'limestonelight';
}

#kalkensgeologi .overskift h2 {
    margin-bottom: 5vw;
}



#denkoldekrig .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

#denkoldekrig img {
    margin-top: 5vw;
    width: 80vw;
}

#denkoldekrig h2 {
    color: white;
    font-family: 'limestonelight';
}

#denkoldekrig p {
    margin-top: 5vw;
    font-family: 'limestonelight';
}

/*----------------------------------------------- OM OS ---------------------------------------*/
#om_os {
    background-color: #8C8279;
}

#om_os h1 {
    color: white;
    text-align: center;
}

#om_os p {
    color: white;
}

#om_os h2 {
    text-align: left;
}

#koldkrig {
    margin-top: 15vw;
}

#geomuseum {
    margin-top: 15vw;
}

#stevns {
    margin-top: 15vw;
}


/*-----------MAP------------*/
/*
.map {
    width: 100vw;
    margin: 0;
}
*/

#fungerende_map h2 {
    margin-bottom: 2vw;
}

#fungerende_map {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 100vw;
    background-color: #7799A6;
}



.map-responsive {
    overflow: hidden;
    padding-bottom: 40vw;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 1300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 1300px;
}

/*----------------------------------------------- FOOTER --------------------------------------*/
footer {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 1fr;
}

footer h3 {
    padding-top: 3vw;
    color: #8C8279;
}

footer h4 {
    padding-top: 1vw;
    color: black;

}

footer p {
    padding-top: 2vw;
    color: black;
}

/*
footer img {
    width: 5vw;
    margin-top: 3vw;
    margin-left: 5vw;
    margin-bottom: 10vw;
}

#facebook {}
#insta {
    margin-top: -70px;
*/

/*---Fælles for begge ikoner facebook & instagram---*/
.icons img {
    width: 8vw;
    margin-bottom: 2vw;
}

.icons a {
    text-decoration: none;
}

/*------------Styling på facebook icon--------------*/
#facebook {
    margin-left: 72vw;
}

/*-------------Styling på instragram icon-----------*/

#instagram {
    margin-left: 2vw;
}




/*----------------------------------------SINGLE VIEW NYHEDER-------------------------------------*/

.nyhed h1 {
    padding-bottom: 3vw;
    color: white;
}


.nyhed h2 {
    padding-bottom: 2vw;
    color: white;
}

.nyhed p {
    color: white;
}

.nyhed .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.nyhed {
    background-color: #647284;
    padding-right: 5vw;
    padding-left: 5vw;
}

.nyhed img {
    margin-top: 2vw;
    width: 100%;
}





/*-------------------------------------SINGLE VIEW UNDERVISNINGSFORLØB-------------------------------------*/

#singleView {
    background-color: #647284;
    padding-right: 5vw;
    padding-left: 5vw;
}

#singleView p {
    color: white;
}

#singleView h1 {
    color: white;
}

#singleView h2 {
    color: white;
}

#singleView h3 {
    color: white;
}


#singleView li {
    color: white;
}

#singleView a {
    color: #ffa142;
}

#singleView div {
    color: white;
}


























/*------------------------------------------ MEDIA QUESRIES -------------------------------------*/

/*Styling mellem mobil og tablet - FOOTER*/
@media screen and (min-width: 550px) {
    .icons img {
        width: 6.5vw;
    }
}


@media screen and (max-width: 650px) {
    .bog_ikon {
        display: block;
    }
}


/*---------------tablet--------------*/
@media screen and (min-width: 650px) {

    /*------------Stevns Klint introduktion section------------*/

    #introduktionStevns .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    #introduktionStevns img {
        width: 50vw;
        padding-left: 5vw;
        margin-top: 39vw;
    }

    #introduktionStevns h1 {
        padding-bottom: 2vw;
    }

    /*------------Geomuseum faxe introduktion section------------*/

    #introduktionGeo .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    #introduktionGeo img {
        width: 50vw;
        padding-left: 5vw;
        margin-top: 39vw;
    }

    #introduktionGeo h1 {
        padding-bottom: 2vw;
    }

    /*------------ATTRAKTIONER------------*/

    #introduktion .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    #introduktion img {
        width: 45vw;
        padding-left: 5vw;
        margin-top: 23vw;
    }

    #introduktion h1 {
        padding-bottom: 2vw;
    }

    #undervisning .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    #undervisning div:nth-child(2) {
        margin-left: 2vw;
    }

    .undervisningsmargin {
        margin-right: 10vw;
    }

    .undervisning {
        margin-top: 0vw;
        margin-bottom: 0vw;
    }

    /*Stevns klint guidet ture*/
    #guidede_ture_stevns .sectionwrapper {
        grid-template-columns: 2fr 1fr;
    }

    #guidede_ture_stevns .indhold {
        margin-right: 10vw;
    }

    /*FOSSILJAGT*/
    #guidede_ture .sectionwrapper {
        grid-template-columns: 2fr 1fr;
    }

    #guidede_ture .indhold {
        margin-right: 10vw;
    }

    #guidede_ture img {
        width: 43vw;
        padding-top: 3vw;

    }

    /*RUNDVISNING*/
    #rundvisning .sectionwrapper {
        grid-template-columns: 2fr 1fr;
    }

    #rundvisning .indhold {
        margin-right: 10vw;
    }

    /*PRISMET*/
    #prismet .sectionwrapper {
        grid-template-columns: 2fr 1fr;
    }

    #prismet .indhold {
        margin-right: 10vw;
    }

    /*RUNDVISNING*/
    #vandretur .sectionwrapper {
        grid-template-columns: 2fr 1fr;
    }

    #vandretur .indhold {
        margin-right: 10vw;
    }


    /*GENERALT*/

    .guidepriser {
        margin-top: 0vw;
    }

    .bog_ikon {
        display: none;
    }


    #undervisningsforloeb .sectionwrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    /*Stevns klint*/
    #undervisningsforloeb_stevns .sectionwrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    /*---------------------------Fakta-----------------------*/

    #kalkenskulturhistorie h2 {
        color: white;
    }

    #kalkensgeologi {
        background-color: #7799A6;
        font-family:
    }

    #kalkensgeologi img {
        margin-left: 5vw;
    }

    #kalkensgeologi h2 {
        color: white;
        margin-bottom: 5vw;
    }

    #denkoldekrig {
        background-color: #8C8279;

    }



    /*--------------------------Forside Om os-----------------------*/
    #forside_om_os {
        padding-left: 30vw;
        padding-right: 30vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        margin: 0;

    }

    #forside_om_os h2 {
        margin-left: -5vw;
        color: white;
    }

    /*-------------------------Besøg vores attraktioner-----------------------*/

    #grid {

        /*
        grid-template-areas: 'map map nyheder';
*/
        grid-template-columns: 1fr 1fr;
    }

    /*--------indeks html mapbillede og nyheder---------*/
    .illustrator_map .mapbillede {
        background-size: 45vw;
        height: 46vw;
        width: 40vw;
        margin-left: 8vw;
        margin-top: 5vw;
    }

    .nyheder h3 {
        margin-bottom: 1px;
        padding-top: 0vw;
    }

    #kasse_nyheder h1 {
        font-size: 22px;
    }

    .nyheds_ikon {
        top: 2vw;
        left: 22vw;
    }

    .nyheds_ikon_home {
        top: 2vw;
        left: 22vw;
    }

    .illustrator_map h2 {
        font-family: 'limestonelight';
        color: white;
        padding: 3vw;
        padding-left: 7vw;
    }


    /*--------------------------Om os-----------------------*/

    #om_os .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5vw;
    }

    #om_os .overskrift {
        margin-bottom: 3vw;
    }

    #om_os h2 {
        color: white;
        text-align: center;
    }

    #om_os p {
        text-align: center;

    }

    #koldkrig {
        margin-top: 0vw;
    }

    #geomuseum {
        margin-top: 0vw;
    }

    #stevns {
        margin-top: 0vw;
    }

    #fungerende_map {
        margin-top: 0vw;
    }

    .sprog {
        width: 5vw;
        height: 4vw;
        left: 87vw;
        top: 7vw;
    }

    .lillesprog {
        width: 5vw;
        height: 4vw;
        left: 93vw;
        top: 2vw;
    }




    /*-------------------------Footer-----------------------*/

    footer {
        grid-template-columns: 3fr 3fr 1fr;
    }

    /*---Fælles for begge ikoner facebook & instagram---*/
    .icons img {
        width: 4.1vw;
        margin-top: 3vw;
    }

    .icons a {
        text-decoration: none;
    }

    /*------------Styling på facebook icon--------------*/
    #facebook {
        margin-left: 2vw;
    }

    /*-------------Styling på instragram icon-----------*/

    #instagram {
        margin-left: 2vw;
    }
}


/*----------------------Computer menu media query--------------------*/


@media screen and (min-width: 800px) {
    .container {
        display: none;
    }

    .hovedmenu {
        display: block;
        padding-left: 0vw;

    }


    /*------------Stevns Klint introduktion section------------*/


    #introduktionStevns img {
        width: 50vw;
        padding-left: 5vw;
        margin-top: 17vw;
    }

    /*-------------Geomuseum Faxe fossiljagt billede-----------*/


    #introduktionGeo img {
        margin-top: 65vw;
    }



    /*------- indeks html - map og besøg os attraktion-------*/
    #grid {
        grid-column: 2fr 1fr;
    }

    .nyheder h1 {
        padding-bottom: 0vw;
    }

    .nyheder h3 {
        padding-top: 1vw;
    }

    #kasse_nyheder {
        border: 2px solid white;
        margin-right: 5vw;
        margin-left: 10vw;
    }

    .nyheder h2 {
        font-size: 16px;
    }

    .illustrator_map h2 {
        padding: 3vw;
        padding-left: 7vw;
    }

    .illustrator_map .mapbillede {
        background-size: 38vw;
        height: 43vw;
        width: 43vw;
        margin-left: 10vw;
        margin-top: 5vw;

    }


    /*------- FAKTA -------*/

    #kalkenskulturhistorie .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #kalkenskulturhistorie img {
        width: 40vw;
    }

    #kalkensgeologi .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #kalkensgeologi img {
        width: 40vw;
    }

    #denkoldekrig .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #denkoldekrig img {
        width: 40vw;
    }

    /*------- FOOTER -------*/


    .icons img {
        width: 3.2vw;
    }

    #facebook:hover {
        width: 2.8vw;
    }

    #instagram:hover {
        width: 2.8vw;
    }

    /*singleview*/
    .nyhed {
        padding-right: 20vw;
        padding-left: 20vw;
    }

    #singleView {
        padding-right: 20vw;
        padding-left: 20vw;
    }

}






/*---------DESKTOP ekstra finpusning-------*/

/*menu baren*/
@media screen and (min-width: 916px) {
    .hovedmenu {
        padding-left: 3vw;

    }
}

@media screen and (min-width: 973px) {
    .hovedmenu {
        padding-left: 3vw;
    }

    .bog_ikon {
        display: block;
    }
}

/*-------------Geomuseum Faxe fossiljagt billede-----------*/

@media screen and (min-width: 1002px) {


    #introduktionGeo img {
        margin-top: 25vw;
    }
}


/*---------DESKTOP ekstra finpusning-------*/

@media screen and (min-width: 1056px) {
    .hovedmenu {
        padding-left: 3vw;
    }
}

/*-------------Geomuseum Faxe fossiljagt billede-----------*/

@media screen and (min-width: 1172px) {
    #introduktionGeo img {
        margin-top: 35vw;
    }
}










/*----- media queries for splash og header billede -----*/

/*
@media screen and (max-width: 500px) {
    .splash {
        background-image: url(billeder/splashMobil1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        height: 100vh;
        width: 100vw;

    }

    .whiteborder {
        height: 100vw;
        margin: 5vw;
        position: absolute;
    }*/
