* {
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 100;
}

body,
html {
    background-color: #BFB595;
    line-height: 150%;
    height: 100%;
}

@font-face {
    font-family: 'limestonebold';
    src: url('fonte/limestone_bold-webfont.woff2') format('woff2'),
        url('fonte/limestone_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'limestoneheavy';
    src: url('fonte/limestone_heavy-webfont.woff2') format('woff2'),
        url('fonte/limestone_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'limestonelight';
    src: url('fonte/limestone_light-webfont.woff2') format('woff2'),
        url('fonte/limestone_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'limestoneregular';
    src: url('fonte/limestone_regular-webfont.woff2') format('woff2'),
        url('fonte/limestone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'limestonelight';

}

h2 {
    font-family: 'limestonelight';
    color: white;
}

h3 {
    font-family: 'limestonelight';
}

/*-----------------------Splash-----------------------*/

.hovedmenu {
    display: none;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 1vw;
    padding-left: 13vw;
}

.hovedmenu a {
    color: #8C8279;
    text-decoration: none;
    font-family: 'limestonelight';
    font-size: 1.6vw;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid rgba(0, 0, 0, 0.15);

}

.hovedmenu a:hover {
    opacity: 0.7;
    color: #FF6600;
}

.splash {
    background-image: url(billeder/stevnsklint.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
    height: 54.8vw;
    width: 100vw;

}

.lillesplash {
    background-image: url(billeder/splash.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
    height: 25vw;
    width: 100vw;
}

.lillelogo {
    background-image: url(billeder/logo3.svg);
    background-repeat: no-repeat;
    background-size: 20vw;
    position: absolute;
    top: 18vw;
    left: 1vw;
    height: 6vw;
    width: 20vw;
    margin-left: 1vw;
}



.logo {
    background-image: url(billeder/logo3.svg);
    background-repeat: no-repeat;
    background-size: 20vw;
    position: absolute;
    top: 5vw;
    left: 3vw;
    height: 6vw;
    width: 20vw;
}

.sectionwrapper {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}

.overskrift {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 6vw;
}

#line {
    width: 5vw;
    color: #BFB595;
}

/*------------- Generel ----------- */

/*------------- BurgerMenu----------- */


.burgermenu {
    overflow: hidden;
    background-color: #676767;
    position: relative;
    width: 100vw;
    top: 0vw;
    opacity: 0.8;
    z-index: 10;
}

.burgermenu #myLinks {
    display: none;
}

.burgermenu a {
    cursor: pointer;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
}

.burgermenu a.icon {
    background: #000000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.burgermenu a:hover {
    background-color: #FF6600;
    color: white;
}

.burgermenu .active {
    background-color: #413f3c;
    color: white;

}

.burgermenu .active:hover {
    background-color: #797878;
    color: white;
}

.burgermenu a.icon:hover {
    background-color: #FF6600;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.clear {
    clear: both;
}


/*--------------------------------------------- FORSIDE ---------------------------------------*/
#forside_om_os {
    /*    color: #BFB595;*/
}


/*----------- Grid til forside-------------**/


#forside_om_os {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    color: #7799A6;
}

#forside_om_os h1 {
    color: white;
    font-family: 'limestoneregular';
}

#forside_om_os p {
    color: white;
    font-family: 'limestonelight';
}

#grid {
    display: grid;
    background-color: #7799A6;
    padding: 5vw;
}

/*
#grid > div:nth-child(odd) {
    background-color: darkgray;
}
*/

.planlaeg_besoeg {
    grid-area: besøg;
}

.nyheder h1 {
    font-family: 'limestoneregular';
}

.nyheder h3 {
    margin-bottom: 16px;
    color: white;

}

#kasse_nyheder {
    border: 2px solid white;
    padding: 3vw;
}

.nyheder h2 {
    font-family: 'limestonelight';
    font-size: 15px;
    color: white;
}

.nyheder a {
    text-decoration: none;
}

.illustrator_map h2 {
    font-family: 'limestonelight';
    color: white;
}

.nyheder {
    grid-area: nyheder;

}

.illustrator_map {
    grid-area: map;
}

.mapbillede {
    background-image: url(billeder/svg/illustratormap_med_logo.svg);
    background-repeat: no-repeat;
    background-size: 30vw;
    height: 35vw;
    width: 30vw;
    margin-left: 5vw;
    margin-top: 5vw;
}

#grid {
    display: grid;
    grid-template-areas:
        'map'
        'nyheder';
    grid-template-columns: repeat(1fr);
}


h1 {
    font-family: 'limestonelight';
    color: white;
}


/*---------------------------------------------- ATTRAKTIONER -------------------------------*/


/*baggrundsfarver*/

#introduktion {
    background-color: #aac9d5;
}

#guidede_ture {
    background-color: #8bacb8;
}

#undervisningsforloeb {
    background-color: #7799A6;
}

/*ander*/
#introduktion .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
}

#introduktion img {
    width: 90vw;
    margin-top: 5vw;
}

#introduktion h1 {
    padding-bottom: 5vw;
}

#introduktion .indhold {
    padding-top: 5vw;
}



#priser {
    background-color: #7e7e7e;
}



#undervisning .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
}



.undervisning a {
    text-decoration: none;
    color: #FF6600;
}

.undervisning .sectionwrapper {
    padding-top: 5vw;
}

#undervisningsforloeb .undervisning {
    border: 2px solid white;
    padding: 3vw;
    margin-left: 3vw;
}


/*---GUIDET TURER----*/
#guidede_ture .indhold p {
    color: white;
}

#guidede_ture .indhold {
    /*    grid-area: indhold;*/
}

/*
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 200px);
    grid-template-areas:
        "overskrift guidepriser"
        "indhold guidepriser";
}
*/


.guidepriser p {
    color: white;

}

.guidepriser h3 {
    color: white;
    border: 2px solid white;
    padding: 2vw;

}

.guidepriser {
    /*    background-color: white;*/
    padding: 1vw;
    margin-top: 5vw;
    /*    grid-area: guidepriser;*/
}

#guidede_ture .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#guidede_ture .overskrift {
    margin-bottom: 20px;
    /*    grid-area: overskrift;*/
}

#guidede_ture .pris {
    margin-top: 20px;
}

/*---UNDERVSINING----*/
#undervisningsforloeb .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5vw;
}

#undervisningsforloeb h2 {
    padding-bottom: 1vw;
    color: white;
}

#undervisningsforloeb h3 {
    color: white;
}

/*------------------------------------------------ FAKTA ------------------------------------*/

/*
#column1 {
    background-color: darkgrey;
}

#column2 {
    background-color: #d1d1d1;
}

#column3 {
    background-color: #797878;
}*/

.faktaoverskrift {
    margin-left: 5vw;
    margin-top: 5vw;
}

.faktaoverskrift h2 {
    color: white;
}

#kalkenskulturhistorie .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#kalkenskulturhistorie img {
    margin-top: 5vw;
    width: 80vw;
}

#kalkenskulturhistorie p {
    font-family: 'limestonelight';

}

#kalkenskulturhistorie .indhold {
    margin-top: 5vw;

}

#kalkensgeologi .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#kalkensgeologi img {
    margin-left: 5vw;
    width: 80vw;
    margin-left: 0;
}

#kalkensgeologi p {
    font-family: 'limestonelight';
}

#kalkensgeologi .overskift h2 {
    margin-bottom: 5vw;
}



#denkoldekrig .sectionwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#denkoldekrig img {
    margin-top: 5vw;
    width: 80vw;
}

#denkoldekrig h2 {
    color: white;
    font-family: 'limestonelight';
}

#denkoldekrig p {
    margin-top: 5vw;
    font-family: 'limestonelight';
}

/*----------------------------------------------- OM OS ---------------------------------------*/
#om_os {
    color: #7799A6;
}

#om_os h1 {
    color: white;
    text-align: center;
}

#om_os p {
    color: white;
}


/*-----------MAP------------*/
/*
.map {
    width: 100vw;
    margin: 0;
}
*/

#fungerende_map h2 {
    margin-bottom: 2vw;
    margin-left: 2vw;
}

#fungerende_map {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
}


.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 1300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 1300px;
}

/*----------------------------------------------- FOOTER --------------------------------------*/
footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

footer h3 {
    padding-top: 3vw;
    color: #8C8279;
}

footer h4 {
    padding-top: 1vw;
    color:
}

footer p {
    padding-top: 2vw;
    color: black;
}

/*
footer img {
    width: 5vw;
    margin-top: 3vw;
    margin-left: 5vw;
    margin-bottom: 10vw;
}

#facebook {}
#insta {
    margin-top: -70px;
*/

/*---Fælles for begge ikoner facebook & instagram---*/
.icons img {
    width: 8vw;
    margin-bottom: 2vw;
}

.icons a {
    text-decoration: none;
}

/*------------Styling på facebook icon--------------*/
#facebook {
    margin-left: 72vw;
}

/*-------------Styling på instragram icon-----------*/

#instagram {
    margin-left: 2vw;
}

/*------------------------------------------ SOCIAL MEDIA ICONS -------------------------------------*/
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a";
    font-size: 25px;
}

.fa-instagram-f:before,
.fa-instagram:before {
    content: "\f09a";
    font-size: 25px;
    margin-left: -4px;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #FF6600;
    color: white;
}

.fa-instagram {
    background: #FF6600;
    color: white;
}


/*----------------------------------------SINGLE VIEW-------------------------------------*/



.nyhed h1 {
    padding-bottom: 3vw;
}


.nyhed h2 {
    padding-bottom: 2vw;
}

.nyhed .sectionwrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.indhold {}

img {
    width: 40vw;
}



























/*------------------------------------------ MEDIA QUESRIES -------------------------------------*/

/*Styling mellem mobil og tablet - FOOTER*/
@media screen and (min-width: 550px) {
    .icons img {
        width: 6.5vw;
    }
}



/*---------------tablet--------------*/
@media screen and (min-width: 650px) {



    /*------------ATTRAKTIONER------------*/

    #introduktion .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    #introduktion img {
        width: 45vw;
        padding-left: 5vw;
        margin-top: 5vw;
    }

    #introduktion h1 {
        padding-bottom: 2vw;
    }

    #undervisning .sectionwrapper {
        grid-template-columns: 1fr 1fr;
    }

    #undervisning div:nth-child(2) {
        margin-left: 2vw;
    }

    #guidede_ture .sectionwrapper {
        grid-template-columns: 2fr 1fr;
    }

    #guidede_ture .indhold {
        margin-right: 10vw;
    }

    .guidepriser {
        margin-top: 0vw;
    }


    #undervisningsforloeb .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*---------------------------Fakta-----------------------*/

    #kalkenskulturhistorie h2 {
        color: white;
    }

    #kalkensgeologi {
        background-color: #7799A6;
        font-family:
    }

    #kalkensgeologi img {
        margin-left: 5vw;
    }

    #kalkensgeologi h2 {
        color: white;
        margin-bottom: 5vw;
    }

    #denkoldekrig {
        background-color: #8C8279;

    }

    #column1 .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #column2 .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #column3 .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*
    .dekoration_1 {
        position: absolute;
        width: 2px;
        height: 10vw;
        top: 30vw;
        left: 5vw;
        background-color: white;
    }

    .dekoration_2 {
        position: absolute;
        width: 28vw;
        height: 2px;
        top: 40vw;
        left: 5vw;
        background-color: white;
        margin-bottom: 10px;
    }
*/

    /*--------------------------Forside Om os-----------------------*/


    #forside_om_os {
        margin-left: 30vw;
        margin-right: 30vw;
        margin-top: 12vw;
        margin-bottom: 12vw;
    }

    #forside_om_os h2 {
        margin-left: -5vw;
        color: white;
    }

    #grid {
        display: grid;
        grid-template-areas:
            'map nyheder';
        grid-template-columns: repeat(1fr 1fr);
    }

    /*--------------------------Om os-----------------------*/

    #om_os .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5vw;
    }

    #om_os .overskrift {
        margin-bottom: 3vw;
    }

    #om_os h2 {
        color: white;
    }

    /*-------------------------Footer-----------------------*/

    footer {
        grid-template-columns: 3fr 3fr 1fr;
    }

    /*---Fælles for begge ikoner facebook & instagram---*/
    .icons img {
        width: 4.1vw;
        margin-top: 3vw;
    }

    .icons a {
        text-decoration: none;
    }

    /*------------Styling på facebook icon--------------*/
    #facebook {
        margin-left: 2vw;
    }

    /*-------------Styling på instragram icon-----------*/

    #instagram {
        margin-left: 2vw;
    }
}


/*----------------------Burger menu media query--------------------*/


@media screen and (min-width: 800px) {
    .container {
        display: none;
    }

    .hovedmenu {
        display: block;
    }


    /*------- FAKTA -------*/

    #kalkenskulturhistorie .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #kalkenskulturhistorie img {
        width: 40vw;
    }

    #kalkensgeologi .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #kalkensgeologi img {
        width: 40vw;
    }

    #denkoldekrig .sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #denkoldekrig img {
        width: 40vw;
    }

    /*------- FOOTER -------*/

    .icons img {
        width: 3vw;
    }

}
